*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: -webkit-linear-gradient(top,#249688 0%,#249688 15%,#DADBD4 15%, #DADBD4 100%);
  font-family: 'Lato', sans-serif;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  min-width: 900px;
  height: 95%;
  background-color: white;
}

.container .left,
.container .right{
  float: left;
  height: 100%;
}

.container .left{
  width: 35%;
  background-color: #fafafa;
}

.container .right{
  width: 65%;
  background-color: thistle;

}

/* CONTAINER LEFT */
.container .left header{
  height: 70px;
  display: flex;
  background-color: #eaeaea;
}

.container .left header .utente{
  display: flex;
  align-items: center;
  width: 50%;
}

.container .left header img{
  height: 50px;
  border-radius: 999px;
}

.container .left header span{
  line-height: 70px;
  text-align: center;
  font-size: 400;
}

.container .left header .icone{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  line-height: 70px;
  padding: 10px;
}

.container .left header .icone i{
  margin: 0 10px;
  color:  #B1B1B1;
  cursor: pointer;
}

/* CONTAINER LEFT - NOTIFICHE */
.container  .left section.notifiche{
  width: 100%;
  height: 70px;
  background-color: #8edbfc;
  display: flex;
  align-items: center;
}

.container  .left section.notifiche .contenitore-logo{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 999px;
  margin: 0 10px
}

.container  .left section.notifiche .contenitore-logo i{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  font-size: 25px;
  color: #8edbfc;
  margin: 0px 10px;
}

.container  .left section.notifiche .notifica-desktop span{
  font-size: 14px;
  color: grey;
  text-decoration: underline;
}
/* CONTAINER LEFT - NOTIFICHE */

/* CONTAINER LEFT - SEARCH */
.container  .left section.search{
  height: 50px;
  padding: 10px;
  width: 100%;
}
.container .left section.search button{
  width: 50px;
  height: 100%;
  border: none;
  background-color: #FFFFFF;
  color: grey;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.container .left section.search input{
  width: calc(100% - 50px);
  height: 100%;
  padding: 5px;
  border:none;
  outline: none;
  border-radius: 5px;
}
.container .left section.search .border{
 border: 1px solid lightgray;
 width: 100%;
 display: flex;
 border-radius: 5px;
}
/* /CONTAINER LEFT - SEARCH */

/* CONTAINER LEFT - CHAT */
.container .left section.chat{
  width: 95%;
  height: calc(100% - 190px);
  background-color: white;
  border-right: 2px solid lightgray;
  overflow-y: scroll;
}

.container .left section.chat .list-chat ul{
  width: 100%;
  height: 80px;
  list-style: none;

}
.container .left section.chat .list-chat ul li{
  width: 100%;
  height: 80px;
  display: flex; 
  align-items: flex-start; 
  padding: 9px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.container .left section.chat .list-chat ul li:hover{
  background-color: #f4f5f5;
}
.container .left section.chat .list-chat ul li.active{
  background-color: #f4f5f5;
}
.container .left section.chat .list-chat ul li:last-child{
 border: none;
}

.container .left section.chat .list-chat ul li img{
  display: flex;
  align-items: center;
  height: 65px;
  border-radius: 999px;
}

.container .left section.chat .list-chat ul li h3{
  margin-left: 20px;
  padding: 10px;
}
/* /CONTAINER LEFT - CHAT */
/* /CONTAINER LEFT */

/* CONTAINER RIGHT */
/* CONTAINER RIGHT  HEADER*/
.container .right header{
  height: 70px;
  background-color:  #eaeaea;
  border-left: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.container .right header .open-chat{
  width: 100%;
}
.container .right header .utente{
  display: flex;
  align-items: center;
  width: 80%;
}

.container .right header .utente .utenteAttivo{
  display: flex;
  flex-direction: column;
}

.container .right header .utente .utenteAttivo span:first-child{
  font-size: 12px;
  margin-bottom: 10px;
}
.container .right header .utente .utenteAttivo span:last-child{
  font-size: 10px;
  color: gray;
}

.container .right header img{
  height: 50px;
  border-radius: 999px;
  margin: 0 20px;
}
.container .right header .icone{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  line-height: 70px;
  padding: 10px;
  margin: 10px;
}

.container .right header .icone i{
  margin: 0 10px;
  color:  #B1B1B1;
  cursor: pointer;
}
/* /CONTAINER RIGHT  HEADER*/

/* CONTAINER RIGHT SECTION*/
.container .right section{
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  overflow: auto;
  padding: 70px;
}
.container .right section .row{
  width: 100%;
}
.container .right section .row .box-mes{
  min-width: 35%;
  max-width:max-content;
  padding: 15px;
  background-color: white;
  position: relative;
  cursor: pointer;
  border-radius: 7px;
  margin-bottom: 15px;
}
.container .right section .row .box-mes.sent{
 background-color: #D6FABB;
 float: right;
}
.container .right section .row .box-mes.received{
 float: left;
}
.container .right section .row .box-mes span{
 position: absolute;
 font-size: 10px;
 color: gray;
 bottom: 3px ;
 right: 5px;
}
.container .right section .row .box-mes i{
 position: absolute;
 bottom: 25px ;
 right: 5px;
 visibility: hidden;
}
.container .right section .row .box-mes:hover i{
 visibility: visible;
}

/* /CONTAINER RIGHT SECTION*/

/* CONTAINER RIGHT FOOTER*/
.container .right footer{
  height: 70px;
  display: flex;
  background-color: #f3eeea;
}

.container .right footer .icon-footer-sx,
.container .right footer .icon-footer-dx{
  width: 10%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .right footer .msg-footer{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .right footer .msg-footer input{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding-left: 30px;
  outline: none;
}
/* /CONTAINER RIGHT FOOTER*/
/* /CONTAINER RIGHT */